@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&family=Roboto:wght@400;700&display=swap');





/* .leftSection {
    flex: 1;
    text-align: left;
    padding: 20px;
    margin: 0 30px;
} */

/* @keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */








/* .rightSection {
    flex: 1;
    text-align: center;
    padding: 20px;
    margin-right: 40px;
}

.rightSection img {
    max-width: 100%;
    height: auto;
}

.imageDev {
    max-width: 100%;
    height: auto;
} */

@media only screen and (min-width: 375px) and (max-width: 768px) {

    .main {
        margin-right: 5%;
        margin-left: 5%;
    }

    .imageDev {
        display: none;
    }

    .hireButton {
        border-radius: 7px;
        border: 1px solid #FFA688;
        background: #FFA688;
        padding: 10px 20px;
        margin: 20px 20px 0 0;
        cursor: pointer;
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
    }

    .knowMoreButton {
        border-radius: 7px;
        border: 1px solid #FFA688;
        background-color: transparent;
        padding: 10px 20px;
        margin: 20px 20px 0 0;
        cursor: pointer;
        color: #FFA688;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 600;
    }

    .buttons {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
    }


    .homePage {
        background-color: #331C28;
    }

    .titulo {
        color: #FFF;
        font-family: Poppins;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        animation: slide-in 1s ease-in-out;
    }

    .name {
        color: #FFA688;
        font-family: Poppins;
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: -20px 0 -10px 0;
    }

    .descripcion {
        color: #BCBCBD;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;

    }

    .linkedin,
    .github,
    .line {
        display: none;
    }

}