@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&family=Roboto:wght@400;700&display=swap');

.Cabecera {
  background-color: #331C28;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo img {

  width: 30%;
}

.CabeceraA {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  padding: 0 10px;


}

.CabeceraButton {
  display: none;
  cursor: pointer;
}

.CabeceraSvg {
  width: 2em;
  height: 2em;
  fill: white;
}

.CabeceraNav {}


.CabeceraUl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: end;
  padding-left: 170px;

}

.CabeceraLi {
  margin: 0 .5em;
  text-decoration: none;
  list-style: none;
}


@media screen and (max-width: 904px) and (min-width: 380px) {
  .CabeceraButton {
    display: flex;
  }

  .CabeceraNav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
  }

  .CabeceraNav.isActive {
    height: 30vh;
    opacity: 1;

  }

  .CabeceraUl {
    flex-direction: column;
    text-decoration: none;
    list-style: none;
  }

  .CabeceraLi {
    margin: .5em 0;

  }


}