@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&family=Roboto:wght@400;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #331C28;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.logo {
  position: relative;
}

.logo img {
  width: 194px;
  height: auto;
  position: absolute;
  margin-top: 0px;
  transform: translateY(-50%);
  left: 40px;
  z-index: 1;
}


.navlinks {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0 100px;
}

.navlink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
}

.navlink:hover {
  color: #DC66A6;
}

li {
  padding: 0 30px;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    position: fixed;
    width: 100%;
  }

  .navlinks {
    
    flex-direction: row;
    margin-top: 20px;
  }

  .navlink {
    margin: 10px 0;
  }
  .logo {
    position: relative;
  }
  
  .logo img {
    width: 130px;
    height: auto;
    position: absolute;
    margin-top: 0px;
    transform: translateY(-50%);
    left: 40px;
    z-index: 1;
  }

  li {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    position: fixed;
  }

  .navlinks {
    
    flex-direction: row;
    margin-top: 20px;
  }

  .navlink {
    margin: 10px 0;
  }
  .logo {
    position: relative;
  }
  
  .logo img {
    width: 180px;
    height: auto;
    position: absolute;
    margin-top: 0px;
    transform: translateY(-50%);
    left: 40px;
    z-index: 1;
  }

  li {
    padding: 0 10px;
  }
}

