@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&family=Roboto:wght@400;700&display=swap');
body {
  margin: 0;
}

.AboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #42313B;
  margin-top: 0;
}

.leftSection {
  flex: 1;
  padding: 20px;
}

.leftSection img {
  max-width: 100%;
  height: auto;
}

.rightSection {
  flex: 2;
  padding: 0 20px;
}

.title {
  margin: 0;
  color: #FFA688;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.paragraph {
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  
}

.inlineImage {
  vertical-align: middle;
}

.imageWrapper {
  display: inline-block;
  vertical-align: middle;
}

.imagenes{
  display: flex;

  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 904px) and (min-width: 380px) {
  .AboutMe {
    padding: 10px 0; 
  }

  .title {
    font-size: 24px; 
  }

  .paragraph {
    font-size: 14px; 
  }
  .leftSection{
    display: none;
  }

  .titulo{
    display: ruby-text;
  }

  .imagenes{
    display: flex;
    justify-content: end;

  }

}